.TodoTemplate {
    width: 512px;
    // width가 주어진 상태에서 좌우 중앙 정렬
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    border-radius: 10px;
    overflow: hidden;
  
    .app-title {
      background: #75c3b2;
      color: rgb(255, 255, 255);
      height: 4rem;
      font-size: 1.5rem;
      display: flex;          //제목이 가운데 정렬됨
      align-items: center;
      justify-content: center;
    }
    .content {
      background: rgb(200, 230, 225);
    }
  }